{%extends 'base.html'%}
{% load static %}
{%block content%}
     
   
{% if category_posts%}
    <h1>{{categories}} Category</h1>
    
    <div class="row tm-section-mb">
        <div class="col-lg-12">
    {%for post in category_posts %}

    <div class=" tm-timeline-item">
        <div class="tm-timeline-item-inner">
            <img src="{% static 'img/blog-10.png'%}" alt="Image" class="rounded-circle tm-img-timeline">
            <div class="tm-timeline-connector">
                <p class="mb-0">&nbsp;</p>
            </div>
            <div class="tm-timeline-description-wrap">
                <div class="tm-bg-dark tm-timeline-description">
                    <h3 class="tm-text-yellow tm-font-400"><a href = "{%url 'article-details' post.pk%}">{{post.title}}</a></h3>
                    <p>{{post.author.first_name}}{{post.author.last_name}}<a href = "{%url 'category' post.category|slugify%}">-{{post.category}}</a></p>
                    <p>{{post.body|slice:200|safe}}</p>
                    <a href="{%url 'article-details' post.pk%}" class = "btn btn-warning" >Continue Reading</a>
                    <p class="tm-text-orange float-right mb-0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{post.postDate}}</p>
                    {% if user.is_superuser %}
                    <p class="tm-text-green float-right mb-0"><small> <a href="{%url 'update_post' post.pk%}" style="font-size:20px ;">(Edit)</a></small> <small><a href="{%url 'delete_post' post.pk%}" style="font-size:20px ;"> (Delete)</a></small></p>
                    {%else%}
  
                    {%endif%}
                </div>
            </div>
        </div>
  
        <div class="tm-timeline-connector-vertical"></div>
    </div>
    {%endfor%}



    </div>

</div>

{%else%}
  <h2>This Page does not exist</h2>
{% endif %}

{%endblock%}